nav {
  background-color: #ffffff;
  opacity: 0.9;
  filter: alpha(opacity=50);
  backdrop-filter: blur(0.5);
  width: 100vw;
  height: 20vh;
  position: fixed;
  z-index: 1;
  border-bottom: 1px solid rgb(136, 136, 136);
}
.container {
  position: absolute;
  left: 0;
  right: 0;
  margin: 100px auto;
  width: 100%; /* Need a specific value to work */
}
.nav-item {
  display: flex;
  text-align: center;
  justify-content: center;
  align-self: center;
}

.slider-div {
  text-align: center;
}
#rangeValue {
  position: relative;
  display: block;
  text-align: center;
  font-size: 6em;
  color: #999;
  font-weight: 400;
}
.range {
  margin: 0 auto;
  position: relative;
  display: block;
  width: 90%;
  height: 15px;
  -webkit-appearance: none;
  background: #111;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #00fd0a;
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px #00fd0a;
}

nav {
  font-family: "Tangerine", serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}
